/*CSS HEADER FILE*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
*{
  box-sizing: border-box;
}

:root{
  --buttonHeight: 22%;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
a{
  text-decoration: none;
}
nav{
  font-family: nunito;
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: 80px;
  width: 100%;
  background-color: #ffffff;
  box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
  padding: 0 2%;
}
.logo{
  font-weight: 800;
  font-size: 25px;
}

.logo-img{
  height: 100px;
  width: auto; 
}

nav ul{
  display: flex;
}
nav ul li a{
  margin: 20px;
  color:#505050;
  font-size: 20px;
  font-weight: 800;
}
nav a.active{
  border-bottom: 3px solid black;
}
.btn-container{
  margin-left: 450px;
}
.joinButton{
  border: none;
  background-color: #15da77;
  height: 20px;
  width: 75px;
  font-size: 15px;
  font-weight: 500;
  margin-left: 10px;
  color: white;
  transition: all .1s ease-in;
}
.loginButton{
  border: 1px solid black;
  background-color: white;
  height: 20px;
  width: 75px;
  font-size: 15px;
  font-weight: 500;
  transition: all .1s ease-in;
}
.Hbtn:hover{
  transform: scale(1.1);
}

.Hicon{
  margin-left: 7px;
  font-size: 20px;
}

@media screen and (max-width: 1024px){
nav ul{
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: none;
}
nav ul li{
  padding: 10px;
}
nav ul li .nav-link{
  font-size: 1.4em;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
}
nav ul li .nav-link:hover{
  color: #121212;
}
.btn-container{
    margin-left: 0px;
}
.toggle:before{
  content: '\f0c9';
  font-family: fontAwesome;
  line-height: 30px;
  z-index: 1;
}
.toggle.active:before{
  content: '\f00d';
  position: fixed;
  line-height: 0px;
}
nav.active ul{
  display: flex !important;
}
}

@media screen and (min-width: 1025px) and (max-width: 1366px){
.btn-container{
  margin-left: 300px;
}
}












