* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 0.8vw;
}

:root{
    --borderRadius: 10px;   
    --profileWrapperHeight: 30%;

    /* kleuren */
    --mainColor: white;
    --secondColor: white;
    --letterColor: black;
    --SocialsColor: rgb(245, 245, 245);
    --instaColor: #C66B6B;
    --facebookColor: #2E0CD8;
    --twitterColor: #47C4FF;
    --snapchatColor: #FBCA17;
    --buttonColor1: #b0ffb0;
}

a{
    text-decoration: none;   
}

main{
    background-color: var(--mainColor);
    color: var(--letterColor);
    height: 90%;
    width: 100%;
}

#wrapper{
    /* height: 30%; */
    background-color: var(--secondColor);
    border: solid lightgrey 1px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
td{
    color: var(--letterColor);
}

#tableData{
    padding-left: 10;
}
.socials{
    
    border: none;
    padding: 2px;
    height: 4vh;
    width: 2.6vw;
    color: rgb(245, 245, 245);
    text-align: center;
}

.socialsList{
    position: absolute;
    display: flex;
    padding-top: 30;
    transform: translate(0%, 100%);
}

.socialsList a{
    color: white !important; 
}
/* socials colors */
.insta{
    background-color: var(--instaColor);
}
.faceb{
    background-color: var(--facebookColor);
}
.twitter{
    background-color: var(--twitterColor);
}
.snapc{
    background-color: var(--snapchatColor);
}
#addFriendBtn{
    border: none;
    margin-top: 5vh;
    background-color: var(--buttonColor1);
    text-align: center;
    padding: 0.5rem 2rem;
    border-radius: var(--borderRadius);
    /* transition: all .1s ease-in; */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
/* 
#addFriendBtn:hover{
    transform: scale(1.1);
} */

.middle img{
    
    position: relative;
    top: -35;
}

.profileImage{
    height: 40%;
    max-height: 800px;
    width: auto;
}

.About-Content{
    transform: translate(0%);
    height: 10px;
}

.about{
    height: 200px;
}

