.heading{
     background-color: #5fe0a0;
     height: 5em;
     color: white;
     text-align:center;
     line-height: 4.8em;
}
/* Page Head */
.heading p{
     font-size: 30px;
     font-weight: 600;
}
/* Project Title */
.p-title{
     border-bottom: 2px solid rgb(228, 228, 38) ;
     height: 13em;
     text-align:center;
     
}
.p-title p{
     font-size: 60px;
     font-weight: 500;
     line-height: 2.2em;
}
/* Edit, Delete Button */
.action-container{
     display: flex;
     justify-content: center;
     line-height: 2em;
}
.edit{
     background-color: #5fe0a0;
     height: 30px;
     width: 80px;
     color: white;
     font-size: 15px;
     font-weight: 500;
     cursor: pointer;
}
.delete{
     background-color: #e05f5f;
     height: 30px;
     width: 80px;
     color: white;
     font-size: 15px;
     font-weight: 500;
     cursor: pointer;
}
/* About Container */
.about-container{
     border-bottom: 2px solid rgb(228, 228, 38) ;
     min-height: 30em;
}
/* About Title */
.about-title{
     text-align:center;
     line-height: 4.5em;
     font-size: 27px;
     font-weight: 800;
     color: rgb(97, 93, 93);
}
.info-container{
     display: grid;
     justify-content: space-evenly;
     grid-template-columns: auto auto;
}
.p-image{
     border-radius: 6px;
     max-width: 400px;
     max-height: 400px;
}
.p-info{
     max-width: 600px;
     max-height: 600px;
}
.n-info{
     border-bottom: 2px solid rgb(228, 228, 38) ;
     min-height: 17em;
}
.n-container{
     justify-content: space-evenly;
     display: flex;
     color:rgb(97, 93, 93);
}
.item-box{
     display: grid;
     text-align: center;
}
.item-box p{
     margin-top: 10px;
     font-size: 20px;
     max-width: 110px;
     font-weight: 500;
}
.fa-clock{
     font-size: 70px;
}
.fa-map-marker-alt{
     font-size: 70px;
}
.fa-cogs{
     font-size: 70px;
}  
.needs{
     text-align:center;
     line-height: 4.5em;
     height: 13em;
}  
.needs p{
     font-size: 27px;
     font-weight: 800;
     color: rgb(97, 93, 93);
}
.needs article{
     font-size: 20px;
     font-weight: 600;
     color: rgb(97, 93, 93);
}
.apply-btn{
     background-color: #5fe0a0;
     height: 15em;
     justify-content: center;
     width: 100%;
     border: none;
     color: white;
     cursor: pointer;
}
.apply-btn .fa-plus-circle{
     font-size: 90px;
}
.apply-btn p{
     font-size: 40px;
}


@media (max-width: 600px){
     .info-container{
          grid-template-columns: auto;
          justify-content: center;
     } 
     .p-info{
          margin: 15px;
          max-width: 300px;
          max-height: 600px;
     } 
     .fa-clock{
          font-size: 40px;
     }
     .fa-map-marker-alt{
          font-size: 40px;
     }
     .fa-cogs{
          font-size: 40px;
     }  
     .item-box p{
          margin-top: 10px;
          font-size: 14px;
          font-weight: 500;
          max-width: 60px;
     }
}

@media only screen and (min-width: 600px) {
     .p-info{
          max-width: 300px;
          max-height: 600px;
     } 
}
 
