* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1px;
}

:root{
    --borderRadius: 10px;
    --Color: #228B22;
}

header{
    background-color: ghostwhite;
    width: 100vw;
    height: 10vh;
    text-align: center;
}

.navigation{
    position: relative;
    left: 15px;
}

#listNav:hover{
    border-bottom: solid 1px lightgrey;
    cursor: pointer;
}

.LoginButton{
    border: none;
    background-color: #39ee39;
    text-align: center;
    padding: 0.5rem 2rem;
    border-radius: var(--borderRadius);
    transition: all .1s ease-in;
}

.LoginButton:hover{
    transform: scale(1.1);
}